<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PENDO AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="login-box">

    <img src="/static/logo.png" class="logo">

    <h2>PENDO AI</h2>

    <p>Welcome back 👋</p>

    <input
        type="text"
        id="username"
        placeholder="Enter your username"
    >

    <button onclick="login()">
        Continue
    </button>

</div>

<script>
function login(){

    const username =
        document.getElementById("username").value.trim();

    if(username==""){
        alert("Enter your username");
        return;
    }

    location.href="/chat?username="+encodeURIComponent(username);

}
</script>

</body>
</html>
